#profile , footer {
    /*background-image: linear-gradient(75deg, #176B87, #B4D4FF);*/
    background-image: linear-gradient(90deg, #088395, #00FFCA);
}

h2 {
    font-weight: 800;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

h5 {
    font-weight: 600;
}

/* Default font size for larger screens */
body {
  font-size: 16px;
 
}

html, body {
    overflow-x: hidden;
}


  

